@model TabloidMVC.Models.ViewModels.PostTagCreateViewModel

@{
    ViewData["Title"] = "CreatePostTag";
}

<h1>CreatePostTag</h1>

<h4>PostTag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePostTag">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="@Model.PostTag.PostId" type="hidden" />
            </div>
            <div class="form-group">
                <select asp-for="PostTag.TagId" class="form-control">
                    <option value="">Select Tag</option>
                    @foreach (Tag tag in Model.Tags)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
